<div class="row" *ngIf="!isAuthenticated; else isLoged">
	<div class="col-md-6">
		<form (ngSubmit)="signUp(formSignUp)" #formSignUp="ngForm">
			<label>Name:</label>
			<input type="text" class="form-control" ngModel name="name" required>
			<label>Login:</label>
			<input type="text" class="form-control" ngModel name="login" required>
			<label>Password:</label>
			<input type="password" class="form-control" ngModel name="password" required>
			<button class="btn btn-primary" type="submit" [disabled]="!formSignUp.valid">Sign up</button>
		</form>
		<p *ngIf="isRegistredUser">You are already registered!</p>
	</div>

	<div class="col-md-6">
		<form (ngSubmit)="signIn(formSignIn)" #formSignIn="ngForm">
			<label>Login:</label>
			<input type="text" class="form-control" ngModel name="login" required>
			<label>Password:</label>
			<input type="password" class="form-control" ngModel name="password" required>
			<button class="btn btn-primary" type="submit" [disabled]="!formSignIn.valid">Sign in</button>
		</form>
		<p *ngIf="wrong;">Wrong login or password</p>
	</div>
</div>

<ng-template #isLoged>
<p>Hello, {{user.name}}! You are already registered.</p>
<button class="btn btn-warning" (click)="signOut()">Sign out</button>
</ng-template>
